version: '3'
services:
  nginx:
    image: nginx:alpine
    hostname: 'nginx'
    container_name: nginx
    depends_on:
      - api
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
      - ./nginx/proxy.conf:/etc/nginx/proxy.conf:ro
      - ./nginx/ssl/localhost.crt:/etc/ssl/certs/localhost.crt:ro
      - ./nginx/ssl/localhost.key:/etc/ssl/certs/localhost.key:ro
      - ./nginx/logs/:/var/log/nginx/
    ports:
      - '80:80'
      - '443:443'

    restart: unless-stopped

  api:
    build: ./src
    hostname: api
    container_name: api
    ports:
      - '8081:8081'
    restart: unless-stopped

networks:
  default:
    driver: bridge
    ipam:
      driver: default
      config:
        - subnet: 192.168.2.0/24
#          gateway: 192.168.2.1

