version: '3'
services:
  api:
    build: ./src
    hostname: api
    container_name: api
    ports:
      - '8081:8081'
    restart: unless-stopped

networks:
  default:
    driver: bridge
    ipam:
      driver: default
      config:
        - subnet: 192.168.2.0/24
#          gateway: 192.168.2.1

